function formatTime(longTime) {
  var date = getDate(longTime);
  var year = date.getFullYear();
  var month = date.getMonth() + 1;
  var day = date.getDate();
  var hour = date.getHours()
  var min = date.getMinutes()

  if(hour < 10){
    hour = "0" + hour
  }
  if(min < 10){
    min = "0" + min
  }
  return [year, month, day].join('-') + " " + hour + ":" + min;
}

module.exports = {
  formatTime: formatTime
}
